In [3]:
# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook
import seaborn as sns
import os
import pickle

### NOTE - 
Run the following code only once at the starting of the project

In [6]:
# Importing and saving the data
def save():
    # Move to the main directory of the project
    #os.chdir("..")
    file_path = os.path.abspath(os.curdir)
    file_path_data = os.path.join(file_path, 'data/') # file path containing the dataset
    file_names = os.listdir(file_path_data) # dataset file names
    print('Reading from', file_path_data)

    # Creating the data frames of the data present
    print('Creating dataframes...')
    customer_data = pd.read_excel(os.path.join(file_path_data, file_names[0]))
    final_invoice = pd.read_csv(os.path.join(file_path_data, file_names[1]))
    jtd = pd.read_csv(os.path.join(file_path_data, file_names[2]))
    plant_master = pd.read_excel(os.path.join(file_path_data, file_names[4]))

    # Saving the pickle files of the dataframes for fast importing of the data
    print('Saving the pickled files...')
    customer_data.to_pickle(os.path.join(file_path , r'pickled\customer_data.pkl'))
    final_invoice.to_pickle(os.path.join(file_path , r'pickled\final_invoice.pkl'))
    jtd.to_pickle(os.path.join(file_path , r'pickled\jtd.pkl'))
    plant_master.to_pickle(os.path.join(file_path , r'pickled\plant_master.pkl'))

save()

Reading from D:\MahindraCapstone\data/
Creating dataframes...
Saving the pickled files...

In [12]:
# Loading the pickled data
customer_data = pd.read_pickle(r'pickled\customer_data.pkl')
final_invoice = pd.read_pickle(r'pickled\final_invoice.pkl')
jtd = pd.read_pickle(r'pickled\jtd.pkl')
plant_master = pd.read_pickle(r'pickled/plant_master.pkl')

In [14]:
customer_data.head()

,Business Partner,Customer No.,Partner Type,Data Origin,Title,Marital Status,Occupation,Date of Birth,Death date
0,31,1,1.0,Z001,NaN,NaN,NaN,NaN,NaT
1,32,2,1.0,Z005,NaN,NaN,NaN,NaN,NaT
2,34,4,1.0,Z005,NaN,2.0,NaN,NaN,NaT
3,35,5,1.0,Z005,NaN,NaN,NaN,NaN,NaT
4,42,7,1.0,Z008,NaN,NaN,NaN,NaN,NaT

In [8]:
top_50_model = final_invoice[['Customer No.', 'Model', 'Make']]

NameError: name 'final_invoice' is not defined