In [4]:
from fbprophet import Prophet

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook
import seaborn as sns
import datetime as dt

In [3]:
final_invoice = pd.read_csv('data/Final_invoice.csv')
final_invoice.columns

C:\Users\Baby\Anaconda3\envs\prophet\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (9,10,14,15,21,41,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Unnamed: 0', 'Amt Rcvd From Custom', 'Amt Rcvd From Ins Co',
       'Area / Locality', 'CGST(14%)', 'CGST(2.5%)', 'CGST(6%)', 'CGST(9%)',
       'CITY', 'Cash /Cashless Type', 'Claim No.', 'Cust Type', 'Customer No.',
       'District', 'Expiry Date', 'Gate Pass Date', 'Gate Pass Time',
       'IGST(12%)', 'IGST(18%)', 'IGST(28%)', 'IGST(5%)', 'Insurance Company',
       'Invoice Date', 'Invoice No', 'Invoice Time', 'Job Card No',
       'JobCard Date', 'JobCard Time', 'KMs Reading', 'Labour Total', 'Make',
       'Misc Total', 'Model', 'ODN No.', 'OSL Total', 'Order Type',
       'Outstanding Amt', 'Parts Total', 'Pin code', 'Plant', 'Plant Name1',
       'Policy no.', 'Print Status', 'Recovrbl Exp', 'Regn No',
       'SGST/UGST(14%)', 'SGST/UGST(2.5%)', 'SGST/UGST(6%)', 'SGST/UGST(9%)',
       'Service Advisor Name', 'TDS amount', 'Technician Name',
       'Total Amt Wtd Tax.', 'Total CGST', 'Total GST', 'Total IGST',
       'Total SGST/UGST', 'Total Value', 'User ID'],
      dtype='object')

In [5]:
df = final_invoice[['Invoice Date', 'Invoice Time', 'Total Amt Wtd Tax.']]

In [6]:
df['date'] = pd.to_datetime(df['Invoice Date'] + ' ' + df['Invoice Time'])

df.drop(['Invoice Date', 'Invoice Time'], axis='columns',inplace=True)

C:\Users\Baby\Anaconda3\envs\prophet\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Baby\Anaconda3\envs\prophet\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
df.head()

   Total Amt Wtd Tax.                date
0             4051.95 2015-01-02 11:30:36
1             1001.29 2015-01-03 10:07:32
2              233.14 2015-01-03 11:12:57
3                0.00 2015-01-03 11:40:44
4             2747.12 2015-01-03 12:07:17

In [8]:
df.columns = ['y', 'ds']

In [12]:
df = df[['ds', 'y']]

In [13]:
df

                        ds         y
0      2015-01-02 11:30:36   4051.95
1      2015-01-03 10:07:32   1001.29
2      2015-01-03 11:12:57    233.14
3      2015-01-03 11:40:44      0.00
4      2015-01-03 12:07:17   2747.12
...                    ...       ...
492309 2016-06-30 14:56:58   4458.15
492310 2016-06-30 15:06:52   6832.08
492311 2016-06-30 15:43:56   9187.71
492312 2016-06-30 15:58:59  11100.00
492313 2016-06-30 17:09:19    747.78

[492314 rows x 2 columns]

In [11]:
m = Prophet()

In [14]:
m.fit(df)

In [15]:
future = m.make_future_dataframe(periods=365)
future.tail()

                        ds
492674 2017-10-27 22:53:06
492675 2017-10-28 22:53:06
492676 2017-10-29 22:53:06
492677 2017-10-30 22:53:06
492678 2017-10-31 22:53:06

In [16]:
forecast = m.predict(future)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

MemoryError: Unable to allocate 7.52 MiB for an array with shape (2, 492679) and data type float64

In [ ]:
fig1 = m.plot(forecast)

In [9]:
daily_train = df.copy()

In [10]:
daily_train

               y                  ds
0        4051.95 2015-01-02 11:30:36
1        1001.29 2015-01-03 10:07:32
2         233.14 2015-01-03 11:12:57
3           0.00 2015-01-03 11:40:44
4        2747.12 2015-01-03 12:07:17
...          ...                 ...
492309   4458.15 2016-06-30 14:56:58
492310   6832.08 2016-06-30 15:06:52
492311   9187.71 2016-06-30 15:43:56
492312  11100.00 2016-06-30 15:58:59
492313    747.78 2016-06-30 17:09:19

[492314 rows x 2 columns]

In [ ]:
daily_train['ds'] = daily_train.index
daily_train['y'] = daily_train.Count
daily_train.drop(['Count'],axis = 1, inplace = True)